/* Styling text */

h1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: solid 1px rgba(231, 231, 231, 0.3);
}

p {
  margin-top: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

/* Styling elements */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #E7E7E7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.all-albums {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.album-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px 20px;
  width: 90%;
  height: 390px;
  z-index: 2;
}

.album-image {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.album-image {
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hover-items:hover { 
  opacity: 1;
}

.album-card:hover ~ .album-image {
  filter: brightness(45%);
}

.album-card:hover > .hover-items {
  opacity: 1;
}

.album-card:hover > .album-image {
  filter: brightness(45%);
}

.hover-items {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: fit-content;
  position: absolute;
  margin: 37% 0;
  opacity: 0;
}

.icon {
  transition: all 1s;
}

.icon:hover {
  transform: scale(1.2); 
}

.album-name {
  display: flex;
  font: 16px Helvetica #ffffff;
  font-weight: bold;
}

.artists-name {
  display: inline-flex;
  font: 14px Helvetica #a0a0a0;
}

.album-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 668px) { /* Styling tablet */
  
  .all-albums {
    flex-direction: row;
    justify-content: center;
  }

  .hover-items {
    margin: 13% 0;
  }

  .album-card {
  width: 40%;
  height: 430px;
  margin: 15px 20px;
  }

}

@media (min-width: 1025px) { /* Styling desktop*/

  .album-card {
    width: 22%;
    height: 470px;
  }

  .hover-items {
    margin: 9% 0;
  }

  .icon:active {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
  }

  .artists-name:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  .album-name:focus .album-name:hover {
    text-decoration: underline;
  }
}